Proyecto_Final/figures
Proyecto_Final/salidas
Proyecto_Final/models
Proyecto_Final/CORRIDA_MOP
Proyecto_Final/*energias.xlsx
Proyecto_Final/*.png
Proyecto_Final/*.zip
Proyecto_Final/Q_table.npy
Proyecto_Final/vecnorm.pkl
Proyecto_Final/COMPARACION_MOP_RL
Proyecto_Final/MODELO_SIMPLIFICADO_RL_demanda2.xml